<!DOCTYPE html>
<html ng-app="newsViewer">

<head>
  <script data-require="angular.js@2.0.0" data-semver="1.5.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <link href="style.css" rel="stylesheet" />
  <script src="script.js"></script>
  <script src="newsList.js"></script>
  <script src="loadNewsService.js"></script>
</head>

<body ng-controller="MainController">
  <h1 class="title">The Guardian News</h1>
  <button class="refresh" ng-click="refresh()">Refresh</button>
  <div class="list-container">

    <news-list news="newsList"/>

  </div>
  <div class="navbar">
  <form name="myForm" ng-submit="updateNewsList()">
    <button type="button" class="previous" ng-click="updateNewsPrevious()">Previous</button>
    <input type="number" name="input" min="0" max= {{numPages}} class="page-num"  ng-blur="updateNewsList()"  ng-model="currentPage" /> 
    <span class="pages"> of {{ numPages | number }} pages </span>
    <button type="button" class="next" ng-click="updateNewsNext()">Next</button>
	</form>
  </div>
  <div class="error-container">
     <span class="error"> {{ error }} </span>
  </div>
</body>

</html>